.toggle-btn {
	position: absolute;
	top: 0;
	right: 50px;
	
	input[type="checkbox"] {
	visibility: hidden;
	&:checked + label {
		transform: rotate(0deg);
		background-color: #111;
		&:before {
			transform: translateX(0px);
			background-color: #ffffff;
		}
	}
}

label {
	display: flex;
	position: relative;
	transition: transform .5s ease-in-out;
	transform-origin: 0% 0%;
	cursor: pointer;
	
	&:before {
		transition: transform 1s ease;
		transition-delay: .5s;
		content: "";
		display: block;
		position: absolute;
		width: 27px;
		height: 27px;
		background-color: #111;
		border-radius: 50%;
		top: 6px;
		left: 6px;
	}
}
}
